<nz-modal [(nzVisible)]="isVisible" [nzTitle]="title" [nzWidth]="width" [nzFooter]="footerTemplate || defaultFooter"
    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    @if(isShowContent) {
        <ng-container *nzModalContent>
            <ng-content></ng-content>
        </ng-container>
    }

    <ng-template #defaultFooter [isShowFooter]="isShowFooter">
        <button nz-button nzType="default" (click)="handleCancel()">
            {{ cancelText }}
        </button>
        <button nz-button nzType="primary" (click)="handleOk()">
            {{ okText }}
        </button>
    </ng-template>
</nz-modal>