
.otp-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
   
}

.getOtpLbl {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

nz-card {
    box-shadow: 0 8px 30px 10px rgba(0, 0, 0, 0.1);
}