/* styles.css or component.scss */
/* .form-group {
    margin-bottom: 1rem;
  } */
  .form-group label {
    font-weight: bold;
  }
  .ant-form-item-explain-error {
    display: block;
    width: 100%;
  }
  app-control-error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  