.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #FBFBFB;
    color: rgb(0, 0, 0);
  }
  
  .left-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    height: 40px;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    cursor: pointer;
  }

  .writeIcon {
    padding-right: 1rem;
  }

  .leftSideDetails {
    justify-content: center;
    align-content: center;
  }

nz-sider{
  background: #FBFBFB !important;
}

nz-content {
  background: #FBFBFB !important;
}