<nz-layout>
    <nz-layout>
        <nz-header class="header">
            <div class="left-section">
                <h2>Likhitan</h2>
                    <nz-input-group [nzSuffix]="searchIcon" >
                        <input type="text" nz-input placeholder="Search" />
                    </nz-input-group>
            </div>
            <div class="right-section">
                <nz-icon nzType="edit" nzTheme="outline" class="writeIcon"/>
                <nz-avatar nzIcon="user" nzSize="default" class="profile-icon"></nz-avatar>
            </div>
        </nz-header>
    </nz-layout>

    <nz-layout>
        <nz-content>
            <div nz-col>
                content
            </div>
        </nz-content>
        <nz-sider>
            <div nz-col>
                sidebar
            </div>
        </nz-sider>
    </nz-layout>
    <nz-footer>
        <div nz-col>
            footer
        </div>
    </nz-footer>
</nz-layout>