<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzTitle="Dashboard" nzIcon="dashboard" nzTheme="outline" >
          <ul>
            <li nz-menu-item>Charts</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Users" nzIcon="user" nzTheme="outline">
          <ul>
            <li nz-menu-item>Users</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Authors" >
          <ul>
            <li nz-menu-item>Authors</li>
          </ul>
        </li>
        <li nz-menu-item>
          <nz-icon nzType="file" />
          <span>File</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <!-- <nz-icon
          class="trigger"
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        /> -->
      <app-header />
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">Bill is a cat.</div>
      </nz-content>
      <nz-footer>All rights reserved by likhitan</nz-footer>
    </nz-layout>
  </nz-layout>