.login-card {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    align-items: center;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  nz-card {
    box-shadow: 0 8px 30px 10px rgba(0, 0, 0, 0.1);
   }