.feedColumn {
  display: flex;
  justify-content: center;
  padding-bottom: 0.6rem !important;
}

.feedCard {
  width: 700px;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  .card-content {
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .custom-footer {
    margin-top: auto;
    text-align: left;
    padding: 10px;
  }
}

nz-card-footer {
  padding-top: 1rem;
  background-color: #f0f2f5;
}

.ql-editor {
  max-width: 100%;
  padding: 0;
  max-height: 100%;
}

.commentFormCls {
  max-width: 10px !important;
}

:host ::ng-deep .blogCommentFieldClass {
  max-width: 170px;
}