<nz-layout>
    <nz-content>
        @for(blog of blogs; track $index) {
        <div nz-col class="feedColumn">
            <nz-card class="feedCard" nzHoverable [nzTitle]="blog.title" [nzLoading]="isShowLoader">
                <div class="card-content">
                    <app-quill-content-viewer [content]="blog.content" />
                </div>
                <div nz-card-footer class="custom-footer">
                    <button nz-button nzType="default" nzSize="small">
                        <span nzType="like" nzTheme="outline"> </span>
                    </button>
                    <span class="commentFormCls">
                        <app-dynamic-form [externalData]="{ blogId: blog?.blogId }" [formFields]="formFields"
                            [formGroup]="commentForm" (customEvent)="onEnterKeyPressed($event)"
                            (onSubmit)="onSendComment($event)" [submitLabel]="'Submit'" (controlClicked)="onControlClicked($event)" />
                    </span>
                </div>
            </nz-card>
        </div>
        }
    </nz-content>
</nz-layout>