/* You can add global styles to this file, and also import other style files */
@import "ng-zorro-antd/ng-zorro-antd.less";

@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.snow.css';

// Custom theme variables
@primary-color: #e7e7e7;         // Change primary color
@font-size-base: 16px;            // Base font size
@border-radius-base: 8px;         // Border radius

:deep(.ant-input-group) {
    background-color: #FEFFD2;
}

:deep(input) {
    background-color: #FEFFD2;
}