:host {
    display: block;
  }
  
  :host ::ng-deep form[nz-form] {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
  }
  
  :host ::ng-deep .largeInputForTitleField {
    border: none !important;
    height: 3.5rem !important;
    font-size: 3rem !important;
    padding: 0.5rem 1rem !important;
    outline: none !important;
    box-shadow: none !important;
    border-color: #ccc !important;
  }

  :host ::ng-deep .mediumInputForBodyField {
    border: none !important;
    height: 6.5rem !important;
    font-size: 1.5rem !important;
    padding: 0.5rem 1rem !important;
    outline: none !important;
    box-shadow: none !important;
    border-color: #ccc !important;
  }

  nz-content {
    background-color: #ffffff;
  }